
@{
    ViewBag.Title = "Index";
}

<h2>产品列表</h2>

@using ProductManagementUI.Models
@model List<ProductInfo>

<table class="table table-bordered">
    <tr>
        <td>编号</td>
        <td>产品名称</td>
        <td>创建时间</td>
        <td>产品经理</td>
        <td>应用行业</td>
        <td>归属地</td>
        <td>产品阶段</td>
        <td>详情</td>
        <td>操作</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.CreateTime</td>
            <td>@item.ProductManager</td>
            <td>@item.TradeName</td>
            <td>@item.AddressName</td>
            <td>@item.StageName</td>
            <td>@item.ProductDetail</td>
            <td>操作</td>
        </tr>
    }
</table>

